.lang-button {
    font-weight: bolder;
    top: 1.2%;
    /* margin: 1%; */
    padding: 0.15%;
    border-radius: 3%;
}

.lang-button:hover{
    cursor: pointer;
    background: lightgrey;
}

.sign-up-bar{}

@media only screen   
and (min-device-width : 768px) {
  .lang-button {
    position: fixed;
  }
}