.file-error{
    color:red !important;
    font-weight: bolder;
  }

  .modal-body-disabled{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #832685;
    font-family: 'El Messiri', sans-serif;
}

@media only screen and (max-device-width: 768px) {
  .disabled-form {
    width: 90%;
  }
}