body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Assets/salam_background_edited1.png);
  background-size: 4%;
}

@font-face {
  font-family: 'El Messiri';
  src: local('El Messiri'), url(./Fonts/El_Messiri/ElMessiri-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  body {
    background-size: 25%;
  }
}

@media screen  and (min-device-width: 600px) and (max-device-width: 1000px) {
  body {
    background-size: 15%;
  }
}

@media screen  and (min-device-width: 1000px) and (max-device-width: 1400px) {
  body {
    background-size: 7%;
  }
}